@model PatientPortal.Models.Referral

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Referral</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="ReferralForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ReferralDate"></label>
                            <kendo-datetimepicker for="ReferralDate" />
                            <span asp-validation-for="ReferralDate" class="text-danger k-invalid-msg" data-for="ReferralDate"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Doctor"></label>
                            <input asp-for="Doctor" class="k-textbox" />
                            <span asp-validation-for="Doctor" class="text-danger k-invalid-msg" data-for="Doctor"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReferralDoctor"></label>
                            <input asp-for="ReferralDoctor" class="k-textbox" />
                            <span asp-validation-for="ReferralDoctor" class="text-danger k-invalid-msg" data-for="ReferralDoctor"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Procedure"></label>
                            <input asp-for="Procedure" class="k-textbox" />
                            <span asp-validation-for="Procedure" class="text-danger k-invalid-msg" data-for="Procedure"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location"></label>
                            <input asp-for="Location" class="k-textbox" />
                            <span asp-validation-for="Location" class="text-danger k-invalid-msg" data-for="Location"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedBy"></label>
                            <input asp-for="CreatedBy" class="k-textbox" />
                            <span asp-validation-for="CreatedBy" class="text-danger k-invalid-msg" data-for="CreatedBy"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Created"></label>
                            <kendo-datetimepicker for="Created" />
                            <span asp-validation-for="Created" class="text-danger k-invalid-msg" data-for="Created"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ModifiedBy"></label>
                            <input asp-for="ModifiedBy" class="k-textbox" />
                            <span asp-validation-for="ModifiedBy" class="text-danger k-invalid-msg" data-for="EditedBy"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Modified"></label>
                            <kendo-datetimepicker for="Modified" />
                            <span asp-validation-for="Modified" class="text-danger k-invalid-msg" data-for="Modified"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PatientId"></label>
                            <select asp-for="PatientId" asp-items="ViewBag.PatientId"></select>
                        </div>
<div class="form-group">
    <input type="submit" value="Create" class="k-button k-primary" />
</div>
</form>
</div>
</div>

<div>
    <a asp-action="Index" class="k-button">Back to List</a>
</div>

    <script>
        $(document).ready(function () {
            $("#ReferralForm").kendoValidator({
                // You can define your custom rules here:
                //rules: {}
            });
        })
    </script>
